<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.tuoguan.student.mapping.BusStudentMapper">
  <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.tuoguan.student.entity.BusStudent">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
    <result column="stu_number" jdbcType="VARCHAR" property="stuNumber" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="class" jdbcType="VARCHAR" property="class" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="leave" jdbcType="TINYINT" property="leave" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stu_name, stu_number, gender, age, school, class, grade, leave, create_time, 
    upd_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bus_student
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bus_student
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.stylefeng.guns.modular.tuoguan.student.entity.BusStudent" useGeneratedKeys="true">
    insert into bus_student (stu_name, stu_number, gender, 
      age, school, class, 
      grade, leave, create_time, 
      upd_time)
    values (#{stuName,jdbcType=VARCHAR}, #{stuNumber,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{school,jdbcType=VARCHAR}, #{class,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{leave,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.stylefeng.guns.modular.tuoguan.student.entity.BusStudent" useGeneratedKeys="true">
    insert into bus_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuName != null">
        stu_name,
      </if>
      <if test="stuNumber != null">
        stu_number,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="class != null">
        class,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="leave != null">
        leave,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updTime != null">
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuName != null">
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuNumber != null">
        #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        #{class,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="leave != null">
        #{leave,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.stylefeng.guns.modular.tuoguan.student.entity.BusStudent">
    update bus_student
    <set>
      <if test="stuName != null">
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuNumber != null">
        stu_number = #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="class != null">
        class = #{class,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="leave != null">
        leave = #{leave,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null">
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.stylefeng.guns.modular.tuoguan.student.entity.BusStudent">
    update bus_student
    set stu_name = #{stuName,jdbcType=VARCHAR},
      stu_number = #{stuNumber,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      school = #{school,jdbcType=VARCHAR},
      class = #{class,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      leave = #{leave,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>